@import url(https://fonts.googleapis.com/css?family=Anton|Dosis:500,700|Yesteryear&display=swap);*,:after,:before{box-sizing:border-box;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}nav{z-index:1}a{color:#4682b4}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{background:#0c3245 url(../img/bg-paper01.jpg);line-height:1;background-size:cover;background-position-y:102px;background-repeat:no-repeat;background-attachment:fixed}img{width:100%}.mt-7{margin-top:7rem!important}.mt-11{margin-top:10rem!important}@-webkit-keyframes color-tilt{0%{opacity:1}to{opacity:.45}}@keyframes color-tilt{0%{opacity:1}to{opacity:.45}}.animation--tilt{-webkit-animation-name:color-tilt;animation-name:color-tilt;-webkit-animation-duration:1.6s;animation-duration:1.6s;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;transition-timing-function:ease-in-out}.card{margin:30px 0;padding:45px 30px 25px}@media screen and (min-width:1025px){.card{margin:50px 0}}.card h1{font-family:Anton,sans-serif;line-height:1}.card h2{font-family:Dosis,sans-serif;font-size:1rem;line-height:1.1;margin:0}.card h3{font-family:Yesteryear,cursive;font-size:1.85rem;line-height:1}.card p{font-size:.85rem;line-height:1.2;font-weight:100;transition:all .2s ease-in;-webkit-line-clamp:initial}.card .title{padding:15px 30px;text-align:right}.card.alo{background:-webkit-linear-gradient(top,#fff,#ebebeb)}.card.alo:after,.card.alo:before{z-index:-1;position:absolute;content:"";left:10px;width:50%;bottom:15px;max-width:300px;background:#000;box-shadow:0 17px 5px rgba(0,0,0,.8);-webkit-transform:rotate(-3deg);transform:rotate(-3deg);height:4px}.card.alo:after{-webkit-transform:rotate(3deg);transform:rotate(3deg);right:10px;left:auto}.card.alo .tape{position:absolute;color:#fff;top:-2px;left:-10%;-webkit-transform:rotate(-20deg);transform:rotate(-20deg)}.card.alo .tape .message{background-color:#dc143c;padding:10px 30px 1px;position:relative}.card.alo .tape .message:after{z-index:-1;position:absolute;content:"";right:1px;left:auto;width:40%;max-width:300px;background:#000;box-shadow:0 10px 7px #000;-webkit-transform:rotate(175deg);transform:rotate(175deg);height:6px;top:9px}.card.alo .tape h1{font-size:20px;letter-spacing:1px;text-shadow:2px 2px 1px #000}.card.alo .tape.default{right:10px;left:auto;-webkit-transform:rotate(40deg);transform:rotate(40deg)}.card.alo .tape.default .message{background-color:#4682b4}.card.alo .tape.default .message:after{right:60%;-webkit-transform:rotate(195deg);transform:rotate(195deg)}.card.alo .name{margin-bottom:18px;font-size:2.8rem}.card.project{padding:0}.content{position:relative;display:flex;flex-direction:column;min-width:0;word-wrap:break-word;background-color:#f8f9ff;background-clip:border-box;border:1px solid rgba(0,0,0,.12);border-radius:.125rem;padding:0 50px;margin:50px 0 50px 50px}.content .card{padding:0!important;margin:0 0 60px!important}.content .content-header{border-bottom:2px solid #4682b4;color:#0c3245;text-align:right;margin:60px auto;padding:20px 30px;position:relative;font-family:Anton,sans-serif;font-size:1.6rem}.social-icons,.stack{display:flex;flex-direction:row;padding:0;margin:18px 0 0}.social-icons .social-icon,.stack .social-icon{font-size:1.3rem;margin:0;list-style:none;line-height:1;padding:0 0 0 7px}.social-icons .social-icon:first-child,.stack .social-icon:first-child{padding-left:0}.social-icons .social-icon a,.stack .social-icon a{color:#000;opacity:.55}.social-icons .social-icon a:hover,.stack .social-icon a:hover{opacity:1}.social-icons .social-icon .ln:hover,.stack .social-icon .ln:hover{color:#0077b5}.social-icons .social-icon .ws:hover,.stack .social-icon .ws:hover{color:#25d366}.social-icons .social-icon .gm:hover,.stack .social-icon .gm:hover{color:#d44638}.watch-border{border:1px solid rgba(0,0,0,.3);border-radius:35px;box-shadow:inset 0 0 1px 2px rgba(0,0,0,.1);height:220px;width:187px;margin:auto;top:0;left:-7px;bottom:0;right:0;z-index:-1}.watch-border,.watch-knob{background:silver;position:absolute}.watch-knob{border:1px solid rgba(0,0,0,.3);border-radius:5px;box-shadow:inset 0 0 1px 2px rgba(0,0,0,.15);height:35px;width:8px;margin:0;top:60px;right:-13px}.crono-data{text-align:center;color:hsla(0,0%,100%,.5);font-size:32px}.time-box{color:#adff2f;font-size:22px;margin-top:35%;text-align:center}.time-box .am-pm{font-size:14px;color:rgba(173,255,47,.7)}.time-box .seconds{font-size:28px;color:rgba(173,255,47,.6)}.alarm-data{text-align:center}.alarm-data .alarm-input{background:none;border:none;border-bottom:1px solid rgba(240,248,255,.8);max-width:83px;color:#fff;font-size:32px;line-height:1.3;text-align:center;transition:all .2s}.glass,.watch-container{background:#000;border:1px solid hsla(0,0%,100%,.4);border-radius:35px;box-sizing:border-box;box-shadow:inset 0 0 6px 4px hsla(0,0%,100%,.5),inset 15px 0 10px hsla(0,0%,100%,.3);width:175px;height:210px;margin:auto;position:absolute;top:0;left:0;bottom:0;right:0}.glass .watch-controls,.watch-container .watch-controls{margin:20px 20px 0 0;list-style-type:none;display:flex;flex-direction:row;align-items:center;justify-content:flex-end}.glass .watch-controls i,.watch-container .watch-controls i{color:rgba(255,0,0,.8);margin-right:12px}.glass .watch-controls i.timer,.watch-container .watch-controls i.timer{color:rgba(255,0,0,.4)}.shine{background:hsla(0,0%,100%,.8);height:12px;width:125.8px;margin:auto;position:absolute;top:-3px;left:0;right:0;border-radius:30px;opacity:.4;pointer-events:none}.about{height:165px;font-size:.8rem;padding:10px 25px;margin:5px 0;overflow-y:auto;border-radius:35px;color:#fff}.about p{font-size:.8rem;line-height:1.2}.about h2{color:#adff2f;font-size:.9rem;font-weight:600;top:18px}@import url(https://fonts.googleapis.com/css?family=Anton|Dosis:500,700|Yesteryear&display=swap);

*,:after,:before {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}


ul{
	margin: 0;
	padding: 0;
list-style: none;
}

nav {
	z-index: 1
}

a {
	color: #4682b4
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block
}

html{
	background: #0c3245 url(../img/pattern.png);
	line-height: 1; 
	box-shadow:  inset  20px 5px 55px black;
	background-blend-mode: soft-light;
	background-size: 200px;
	background-attachment: fixed
}
body {
	background: transparent url(../img/bg-paper01.jpg);
	box-shadow:   0 25px 25px black;

	line-height: 1;
	background-size: cover;
	background-position-y: 182px;
	box-shadow:   0 0 25px black;
	background-repeat: no-repeat;
	background-attachment: fixed
}

img {
	width: 100%
}

.card {
	margin: 30px 0;
	padding: 45px 30px 25px
}

@media screen and (min-width:1025px) {
	.card {
		margin: 50px 0
	}
}

.card h1 {
	font-family: Anton,sans-serif;
	line-height: 1
}

.card h2 {
	font-family: Dosis,sans-serif;
	font-size: 1rem;
	line-height: 1.1;
	margin: 0;
	text-align: center;
	opacity: 0.45;
}

.card h3 {
	font-family: Yesteryear,cursive;
	font-size: 1.85rem;
	line-height: 1;
    color: rgb(150, 30, 90);
    text-align: center;
}

.card p {
	font-size: .85rem;
	line-height: 1.2;
	font-weight: 100;
	transition: all .2s ease-in;
	-webkit-line-clamp: initial
}

.card .title {
	padding: 15px 30px;
	text-align: right
}

.card.alo {
	background: -webkit-linear-gradient(top,#fff,#ebebeb)
}

.card.alo:after,.card.alo:before {
	z-index: -1;
	position: absolute;
	content: "";
	left: 20px;
	width: 50%;
	bottom: 15px;
	max-width: 80px;
	background: #000;
	box-shadow: 0 11px 15px 6px rgba(0,0,0,.8);
	-webkit-transform: rotate(-3deg);
	transform: rotate(-3deg);
	height: 14px
}

.card.alo:after {
	-webkit-transform: rotate(3deg);
	transform: rotate(3deg);
	right: 10px;
	left: auto
}

.card.alo .tape {
	position: absolute;
    color: #fff;
    top: -2px;
    left: -6%;
    -webkit-transform: rotate(-20deg);
    transform: rotate(-40deg);
}

.card.alo .tape .message {
	padding: 10px 30px 1px;
	position: relative;

	background: transparent url(/img/duct_tape.png);
    background-position-x: 0;
    background-position-y: -5px;
    background-size: 112%;
    background-repeat: no-repeat;
}
.card.alo .tape h1 {
	font-size: 20px;
	letter-spacing: 1px;
	text-shadow: 2px 2px 1px #000
}

.card.alo .tape.default {
	transform: rotate(40deg);
	right: -20px;
    top: 0px;

}

.card.alo .tape.default .message {
background-color: transparent
}

.card.alo .name {
	margin-bottom: 8px;
	font-size: 2.8rem
}

.card.project {
	padding: 0
}

.content {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #f8f9ff;
	background-clip: border-box;
	border: 1px solid rgba(0,0,0,.12);
	border-radius: .125rem;
	padding: 0 50px;
	margin: 50px 0 ;
}

.content .card {
	padding: 0!important;
	margin: 0 0 60px!important
}

.content .content-header {
	border-bottom: 2px solid #4682b4;
	color: #0c3245;
	text-align: left;
	margin: 60px auto;
	padding: 20px 30px;
	position: relative;
	font-family: Anton,sans-serif;
	font-size: 1.6rem
}

.social-icons,.stack {
	display: flex;
	flex-direction: row;
	padding: 0;
	margin: 18px 0 0;
}

.social-icons .social-icon,.stack .social-icon {
	font-size: 1.3rem;
	margin: 0;
	list-style: none;
	line-height: 1;
	padding: 0 0 0 7px
}

.social-icons .social-icon:first-child,.stack .social-icon:first-child {
	padding-left: 0
}

.social-icons .social-icon a,.stack .social-icon a {
	/* color: rgba(255,125,50, 0.6); */
	opacity: .55
}

.social-icons .social-icon a:hover,.stack .social-icon a:hover {
	opacity: 1
}

.social-icons .social-icon .ln:hover,.stack .social-icon .ln:hover {
	color: #0077b5
}

.social-icons .social-icon .ws:hover,.stack .social-icon .ws:hover {
	color: #25d366
}

.social-icons .social-icon .gm:hover,.stack .social-icon .gm:hover {
	color: #d44638
}

.watch-border {
	border: 1px solid rgba(0,0,0,.3);
	border-radius: 35px;
	box-shadow: inset 0 0 1px 2px rgba(0,0,0,.1);
	height: 220px;
	width: 187px;
	margin: auto;
	top: 0;
	left: -7px;
	bottom: 0;
	right: 0;
	z-index: -1
}

.watch-border,.watch-knob {
	background: silver;
	position: absolute
}

.watch-knob {
	border: 1px solid rgba(0,0,0,.3);
	border-radius: 5px;
	box-shadow: inset 0 0 1px 2px rgba(0,0,0,.15);
	height: 35px;
	width: 8px;
	margin: 0;
	top: 60px;
	right: -13px
}

.crono-data {
	text-align: center;
	color: hsla(0,0%,100%,.5);
	font-size: 32px
}

.time-box {
	color: #adff2f;
	font-size: 22px;
	margin-top: 35%;
	text-align: center
}

.time-box .am-pm {
	font-size: 14px;
	color: rgba(173,255,47,.7)
}

.time-box .seconds {
	font-size: 28px;
	color: rgba(173,255,47,.6)
}

.alarm-data {
	text-align: center
}

.alarm-data .alarm-input {
	background: none;
	border: none;
	border-bottom: 1px solid rgba(240,248,255,.8);
	max-width: 83px;
	color: #fff;
	font-size: 32px;
	line-height: 1.3;
	text-align: center;
	transition: all .2s
}

.glass,.watch-container {
	background: #000;
	border: 1px solid hsla(0,0%,100%,.4);
	border-radius: 35px;
	box-sizing: border-box;
	box-shadow: inset 0 0 6px 4px hsla(0,0%,100%,.5),inset 15px 0 10px hsla(0,0%,100%,.3);
	width: 175px;
	height: 210px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0
}

.glass .watch-controls,.watch-container .watch-controls {
	margin: 20px 20px 0 0;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end
}

.glass .watch-controls i,.watch-container .watch-controls i {
	color: rgba(255,0,0,.8);
	margin-right: 12px
}

.glass .watch-controls i.timer,.watch-container .watch-controls i.timer {
	color: rgba(255,0,0,.4)
}

.shine {
	background: hsla(0,0%,100%,.8);
	height: 12px;
	width: 125.8px;
	margin: auto;
	position: absolute;
	top: -3px;
	left: 0;
	right: 0;
	border-radius: 30px;
	opacity: .4;
	pointer-events: none
 }

.about {
	height: 165px;
	font-size: .8rem;
	padding: 10px 25px;
	margin: 0;
	overflow-y: auto;
	border-radius: 35px;
	color: #fff
}

.about p {
	font-size: .8rem;
	line-height: 1.2
}

.about h2 {
	color: #adff2f;
	font-size: .9rem;
	font-weight: 600;
	top: 18px
}

.greetings{
	position: fixed;
	top:-30px;
	max-width: 420px;
	right: 5%;
}

.card-footer{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-top: 10px;
	background-color: rgba(255,255,255,0.25);
}

.card-footer .social-icons{
	margin: 0;
}

.tech-skills{
    display: flex;
    list-style: none;
    justify-content: end;
}

.skill {
    margin-right: 8px;
    font-size: 20px;
}

.techStack{
	display: flex;
}

.techStack > span{
	margin-left: 8px;
	opacity: .6;
}

.visit-url{
	padding: 10px 15px;
	background-color: #adff2f;
	border-radius: 20px;
	position: absolute;
	right: -15px;
	bottom: -15px;
    box-shadow: inset 0 5px 8px white, inset 0 0 8px green, inset 0 0 16px yellow, 0 4px 14px -10px black;
	border: 0.005rem solid rgba(0,0,0,.015);
	cursor: pointer;
	transition: all 0.1s ease-in-out;
	
}
.visit-url:hover{
	background-color: #cedb25;
	box-shadow: inset 0 5px 8px white, inset 0 0 8px green, inset 0 0 16px yellow, 0 4px 24px -10px #adff2f;
	border: 0.005rem solid rgba(0,0,0,.015);
	
}

.visit-url a{
	transition: all 0.1s ease-in-out;
	color: #ebebeb;
	color:#000;
	font-weight: 400;
	text-decoration: none;
}


.visit-url i{
	margin-right: 5px;
}

.title a{
	font-size: 22px;
}

.description{
	padding: 18px 8px;
	background: rgba(50, 50, 10, 0.045);
}

.footer{
	padding: 50px 20px;
	box-shadow: inset 0 0 100px black;
	width: 100vw;
}
.contact .social-icons{
	text-align: right;
	justify-content: end;
	margin-right: 15px;
}

.contact .social-icons a{
	text-align: right;
	justify-content: end;
	color: rgba(240,248,255,.8);
	margin-right: 10px;
}

.contact h3{
	padding-right: 20px;
	color: rgba(240,248,255,.8);
	font-family: Yesteryear,cursive;
	text-align: right;
}
.card.alo .tape .message:after {
display: none !important;
}
